<div>
  <app-hover></app-hover>
</div>

<!-- <div>
  <app-card>
    <h3>This is first Card</h3>

    <p title>Tittle 1</p>
    <p body>Body 1</p>
    <div footer>Footer 1</div>
  </app-card>
</div>

<div>
  <app-card>
    <h3>This is second Card</h3>

    <p title>Tittle 2</p>
    <p body>Body 2</p>
    <div footer>Footer 2</div>
  </app-card>
</div> -->

<!-- <div>
  <app-profile></app-profile>
</div>

<div class='child-element'>
  <app-profile></app-profile>
</div>

<div>
  <app-counter [dummynamecounter]='counter' [message]='"  Hello World  "' [showcountmsg]="'1'" [title]="title"></app-counter>
</div>


<div>
  <app-getter-input [title]='title'></app-getter-input>
</div>

<div>
  <app-panel (childEvent)='receiver($event)'></app-panel>
</div>

@if (dataFromChild) {
  <div>
    <p class='dataFromChild'> {{ dataFromChild }} </p>
  </div>
} -->
